.container {
  width: 375px;
  margin: 0 auto;
  height: 812px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  border: 1px solid white;
  box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.1);
}
