.container {
  height: 49.7%;
  width: 49.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container:first-child::before {
  content: '';
  position: absolute;
  top: 0.1px;
  height: 100%;
  width: 100%;
  /* border-right: 1px solid black;
  border-bottom: 1px solid black; */
}

.container:last-child::before {
  content: '';
  position: absolute;
  bottom: 0.1px;
  height: 100%;
  width: 100%;
  /* border-left: 1px solid black;
  border-top: 1px solid black; */
}
