.home {
  height: 100%;
  width: 100%;
}

.balance {
  width: 100%;
  height: 10%;
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

.statTrack {
  height: 40%;
  width: 100%;
  /* background-color: orange; */
}
.splitFunds {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
