$redBack: #fe212e;

.mainNumberpadContainer {
  width: 100%;
  height: 100%;
  background-color: $redBack;
  // box-sizing: border-box;
  // padding: 5%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  .headerButtons {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
    .headButtonsStyle {
      width: 35px;
      height: 35px;
    }
    #goBack {
      background-image: url('../../assets/back.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #addSum {
      background-image: url('../../assets/plus.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .inputContainer {
    width: 100%;
    height: 15%;
    background-color: $redBack;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    .delete {
      width: 20%;
      height: 100%;
      background-image: url('../../assets/trash.svg');
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .inputCover {
      height: 100%;
      width: 80%;
      border: 0;
      h1 {
        height: 100%;
        width: 100%;
        margin: 0;
        font-size: 4rem;
        color: white;
        text-align: right;
      }
    }
    input {
      width: 80%;
      height: 100%;
      background-color: $redBack;
      border: 0;
      font-size: 4rem;
      color: white;
      text-align: right;
    }
    input::placeholder {
      color: white;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
  }
  .numPad {
    height: 70%;
    width: 100%;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
    .categoryButtonsContainer {
      height: 19%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 2%;
      .catButtons {
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .divider {
      height: 2px;
      width: 100%;
      background-color: grey;
      opacity: 0.2;
    }
    .numbers {
      width: 100%;
      height: 80%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 5%;
      .number {
        height: 65px;
        width: 65px;
        margin: 0;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
      .number:nth-child(2) {
        margin-left: 15px;
      }
      .number:nth-child(3) {
        margin-left: 15px;
      }
      .number:nth-child(5) {
        margin-left: 15px;
      }
      .number:nth-child(6) {
        margin-left: 15px;
      }
      .number:nth-child(8) {
        margin-left: 15px;
      }
      .number:nth-child(9) {
        margin-left: 15px;
      }
    }
  }
}
