$redBack: #fe212e;

.setDimensionsModal {
  width: 375px;
  height: 812px;
  margin: 0 auto;
}

.setDimensions {
  width: 375px;
  height: 812px;
  margin: 0 auto;
  opacity: 0.9;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5%;
  .balanceCategories {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .categories {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      button {
        width: 90%;
        height: 10%;
        background-color: $redBack;
      }
    }
    .subCat {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .subCategoriesContainer {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 20%;
        .element {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: white;
          border: 1px solid white;
          box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
        }
      }
      form {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        input {
          height: 30%;
          width: 100%;
          border: 0 solid white;
          background-color: whitesmoke;
          font-size: 0.9rem;
          text-align: center;
        }
        button {
          height: 30%;
          width: 100%;
          border: 0;
          background-color: $redBack;
          color: white;
          font-size: 0.9rem;
        }
      }
    }
  }
  .addNewCategory {
    width: 100%;
    height: 10%;
    background-color: grey;
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      input {
        height: 50%;
        width: 100%;
        border: 0 solid white;
        background-color: whitesmoke;
        font-size: 2rem;
        text-align: center;
      }
      button {
        height: 50%;
        width: 100%;
        border: 0;
        background-color: $redBack;
        color: white;
        font-size: 1rem;
      }
    }
  }
}
