.container {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.picture {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/cat.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-right: 10px;
}

.balance {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.spreadButton {
  height: 100%;
  width: 10%;
  background-image: url('../../assets/spread.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
